body {
    background-image: url('../images/background.jpg');
}

#nytheader {
    background-color: rgba(255,255,255,.50);

}
#nytheader h1 {
    font-family: 'Cinzel', serif;
    color: #145ec7;
    text-shadow: 2px 2px #bbf17c;
    font-size: 88px;
}

#nytheader h3 {
    /*font-family: Helvetica;*/
    font-family: 'Cabin', sans-serif;
}
/* 451bd774a8f34d3a9b4807d6a38c91c9 */